
body{
    background-color: #cecdcd;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.form-container {
    max-width: 400px;
}

.form-container {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.team-container{
    transition: all 0.5s ease-in-out;
}

.team-container::after, .team-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0.7);
  transform-origin: right;
  transition: 0.4s ease-out;
}

.team-container::before {
  top: -5px;
  transform-origin: left;
}

.team-container:hover {
    transform: scale(1.05);

}